* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------FOR STYLING SIDEBAR---------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1e6e3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(75, 73, 73);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(146, 112, 37);
}
/* ---------------------------------------------------- */

.wrapper {
  position: relative;
  width: 100%;
}

body {
  background-image: linear-gradient(120deg, #e2c35d, #d88771);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 95vh;
}

.header {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  border: rgb(146, 112, 37) solid;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 30px;
  border-bottom-width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-form {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #d88771;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #d88771;
  color: white;
}

.todo-container {
  border: rgb(218, 190, 130) solid;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.complete-btn {
  background-color: lightgreen;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.footer {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 40px;
  position: relative;
  bottom: 0;
  color: white;
  text-align: center;
  border: rgb(146, 112, 37) solid 4px;
  border-radius: 5px;
  margin-left: 5%;
}
